<div class="container">
   <div class="headerDiv">  <img src="../../assets/FrontEnd Pictures/amberlogo.png" alt="Logo" class="logo" >   
    <h1>Registration Form <i class="fa-solid fa-pen-to-square pen" ></i></h1>  </div>
  <div class="formContainer">
    <div class="regEnhPic">
      <img src="../../assets/FrontEnd Pictures/registerpicture.png" alt="RegisterEnhancer">
    </div>
      <form class="inputHolder" [formGroup]=" newUser"  (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <div class="nameDiv">
          <input type="text"  formControlName="first_name" placeholder="Enter First Name" />  
          <input type="text" formControlName="last_name" placeholder="Enter Last Name" /> 
        </div>
          <label for="email">Email</label>
          <input type="email" id="email" class="email" formControlName="email" placeholder="Enter your email address" />
        <label for="phone">Phone Number</label>
        <div class="phoneDiv">
          <input type="number" min="-9999999999999" max="9999999999999" class="number" formControlName="mobile_number" placeholder="Cell Number" />
            <input type="number" min="-9999999999999" max="9999999999999" class="number" formControlName="home_number" placeholder="Home Number" />
      
          </div>
        
          
          <label for="password">Password</label>
          <div class="password">
          <input type="password" class="password" formControlName="password" placeholder="Enter your password here"   />
        
        <input type="password" class="form-12"  formControlName="confirmPassword" placeholder="Confirm Password" >
      
    
      </div>
      <div class="upload">
        <div class="imageCon">
            <img [src]="userImage" alt="">
        </div>
        <div class="inputCon">
            <input type="file" name="" id="upload" accept="image/*" formControlName="profile_image" hidden (change)="onselectFile($event)" >
            <label for="upload">Choose a Picture</label>
        </div>
      </div>
        <div class="formSubmitdiv">
          <button type="submit" class="formSubmit"   > Register</button>
        </div>
      </form>
  </div>
  <p class="oldUser"  > <i> Already have  an account? <a routerLink="">Login here. </a> </i></p>

</div>


<app-footer></app-footer>