<div class="container">
  <h1>Registration Form</h1>
  <div class="formContainer">
    <div class="regEnhPic">
      <img src="../../assets/FrontEnd Pictures/registerpicture.png" alt="RegisterEnhancer">
    </div>
      <form class="inputHolder" [formGroup]="newUser"  (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <div class="nameDiv">
          <input type="text" class="firstName" formControlName="first_name" placeholder="Enter First Name" /> 
          <input type="text" class="lastName" formControlName="last_name" placeholder="Enter Last Name" /> 
        </div>
        <span class="validator nameval" *ngIf="newUser.get('first_name').touched && newUser.get('first_name').invalid || newUser.get('last_name').touched && newUser.get('last_name').invalid">
          <span *ngIf="newUser.get('frstName').hasError('required') || newUser.get('last_name').hasError('required')">Both names are required</span>
        </span>
          <label for="email">Email</label>
          <input type="email" id="email" class="email" formControlName="email" placeholder="Enter your email address" />
          <span class="validator" *ngIf="newUser.get('email').touched && newUser.get('email').invalid">
            <span *ngIf="newUser.get('email').hasError('required')">Email is required</span>
            <span *ngIf="newUser.get('email').hasError('email')">Email is invalid</span>
          </span>
        <label for="phone">Phone Number</label>
          <input type="number" class="number" formControlName="mobile_number" placeholder="Cell Number" />
            <span class="validator" *ngIf="newUser.get('mobile_number').touched && newUser.get('mobile_number').invalid">
              <span *ngIf="newUser.get('mobile_number').hasError('required')">Contact No. is required</span>
            </span>
            <input type="number" class="number" formControlName="home_number" placeholder="Home Number" />
            <span class="validator" *ngIf="newUser.get('home_number').touched && newUser.get('home_number').invalid">
              <span *ngIf="newUser.get('home_number').hasError('required')">Contact No. is required</span>
            </span>
        <div class="password">
          <label for="password">Password</label>
          <input type="password" class="password" formControlName="password" placeholder="Enter your password here" />
          <span class="validator" *ngIf="newUser.get('password').touched && newUser.get('password').invalid">
            <span *ngIf="newUser.get('password').hasError('required')">Password is required</span>
            <span *ngIf="newUser.get('password').hasError('minlength')">Password must be at least 8 characters                            
            </span>
        </span>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
        <span class ="validator" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <span *ngIf="confirmPassword.errors.required">Confirm Password is needed.</span>
          <span *ngIf="password.value !== confirmPassword.value">Passwords do not match.</span>
        </span>
      </div>
      <div class="upload">
        <div class="imageCon">
            <img [src]="userImage" alt="">
        </div>
        <div class="inputCon">
            <input type="file" name="" id="upload" accept="image/*" hidden (change)="onselectFile($event)">
            <label for="upload">Choose a Picture</label>
        </div>
      </div>
        <div class="formSubmitdiv">
          <button type="submit" class="formSubmit"  [disabled]="newUser.invalid"> Register</button>
        </div>
      </form>
  </div>
</div>
