<div class="body">
     <div class="iconDiv">
        <a href="https://www.facebook.com/AmberGroupLtd/"><i class="fa-brands fa-facebook"></i> </a>
        <a href=""> </a> <i class="fa-brands fa-instagram"></i>
        <a href="https://twitter.com/MyAmberGrp"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/amber-group-global/?originalSubdomain=jm"> <i class="fa-brands fa-linkedin"></i></a>
 
     </div>

     <div class="linksDiv">
        <ul>
            <li> <a href>| Contacts |</a></li>

            <li> <a href>| Blog |</a> </li>
            
            <li> <a href>| Delivery |</a> </li>

            <li> <a href>| About Us |</a> </li>
            
        </ul>
     </div>

</div>
<div class="body2">
     <div>
         <h2> <b><i>"Understanding & satisfying customer needs!"</i></b> </h2>
     </div>

     <div>
         <p> Amber Group Limited | All Right Reserved.</p>
     </div>
</div>
<!-- #282828 -->