<div class="body">
     <div class="iconDiv">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
 
     </div>

     <div class="linksDiv">
        <ul>
            <li> <a href>| Contacts |</a></li>

            <li> <a href>| Blog |</a> </li>
            
            <li> <a href>| Delivery |</a> </li>

            <li> <a href>| About Us |</a> </li>
            
        </ul>
     </div>

</div>
<div class="body2">
     <div>
         <h2> <b><i>"Understanding & satisfying customer needs!"</i></b> </h2>
     </div>

     <div>
         <p> Amber Group Limited | All Right Reserved.</p>
     </div>
</div>
<!-- #282828 -->