.main{
    height:100%;
    position: relative;
    display: flex;
    width:100%;
}

.content{
    margin-left: 22%;
    position: relative;
    display: flex;
    flex-direction: column;
    width:78%;
    height:100vh;
    padding: 2rem;
    row-gap: 1.3rem;
    font-family: 'Inter', sans-serif;
}

.content h2, .content h1{
    font-weight: 300;
}

.content select, .content input{
    background-color: rgb(235, 235, 235);
    border: none;
    height:2.3rem;
    width:50%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
    outline: none;
    font-size: 18px;
    padding:0 20px;
}

.content input{
    padding: 20px;
}

.content select{
    color:rgb(128, 128, 128);
}

.buttonCon{
    position:relative;
    width:50%;
    display: flex;
    justify-content: center;
    height:10%;
    align-items: center;
}

button{
    border:none;
    outline: none;
    padding:0.9rem 4rem;
    background-color: brown;
    border-radius: 20px;
    color: white;
    background: rgb(255,69,0);
    background: linear-gradient(to left, #ff4500, #ff4500, #002088, #002088);
    font-family: 'Inter', sans-serif;
    background-size: 260%;
    transition: all 0.5s ease;
    font-weight: bold;
}

button:hover{
    background-position: right;
    cursor: pointer;
}