<div class="main">
    <app-side-nav></app-side-nav>
    <form class="content" [formGroup]="createAddress">
        <h1>Add Address</h1>
        <h2>Street</h2>
        <input type="text" placeholder="Address 1" formControlName="address1" required>
        <input type="text" formControlName="userId" required hidden>

        <input type="text" placeholder="Address 2" formControlName="address2" required>
        <h2>City</h2>
        <input type="text" placeholder="City" formControlName="city" required>
        <h2>Parish</h2>
        <select formControlName="parish" required>
            <option value="" disabled selected>-- Default --</option>
            <option *ngFor="let par of parishes" [value]="par.parishName">{{par.parishName}}</option>
        </select>
        <div class="buttonCon">
            <button type="submit" (click)="newAddress()"> Add</button>
        </div>
    </form>
</div>
