<div class="container">
  <img src="../assets/FrontEnd Pictures/amberlogo.png" alt="">
  <img class="userImage" routerLink="/user-profile" routerLinkActive="active" [src]="userImage">
  <h1 *ngIf="user">{{user.first_name}} {{user.last_name}}</h1>
  <ul>
    <li routerLink="/list-address" routerLinkActive="active">
      <i class="fa-solid fa-house"></i>
      <h2>Addresses</h2>
    </li>
    <li routerLink="/add-address" routerLinkActive="active">
      <i class="fa-solid fa-square-plus"></i>
      <h2>Add Address</h2>
    </li>
    <li (click)="onLogOut()">
      <i class="fa-solid fa-circle-arrow-left"></i>
      <h2>Logout</h2>

    </li>
  </ul>
</div>