<div class="container">
  <img src="../assets/FrontEnd Pictures/amberlogo.png" alt="">
  <div class="userImage" routerLink="/userProfile" routerLinkActive="active">
    <i class="fa-solid fa-user"></i>
  </div>
  <h1>Jack Black</h1>
  <ul>
    <li routerLink="/" routerLinkActive="active">
      <i class="fa-solid fa-house"></i>
      <h2>Addresses</h2>
    </li>
    <li routerLink="/addAddress" routerLinkActive="active">
      <i class="fa-solid fa-square-plus"></i>
      <h2>Add Address</h2>
    </li>
    <li routerLink="/" routerLinkActive="active">
      <i class="fa-solid fa-circle-arrow-left"></i>
      <h2>Logout</h2>

    </li>
  </ul>
</div>