.main{
    height:100%;
    position: relative;
    display: flex;
    width:100%;
}

.content{
    margin-left: 22%;
    position: relative;
    display: flex;
    flex-direction: column;
    width:78%;
    height:100vh;
    row-gap: 1.3rem;
    padding:3rem
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 2rem;
    width: 100%;
    position: relative;
    column-gap: 10%;
    padding: 2rem;
}
.box>* {
    /* flex: 1 1 1  1600px; */
    padding: 0.3rem;
    width: 26%;
    min-height: 300px;
    border-radius: 19px;
    border-right: #00047d6c 2px solid;
    border-bottom: #00047d6c 2px solid;
    background-color: #DBDBDB82;
    box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.2);
}

.boxStyle {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    row-gap: 0.6rem;
    
}

.boxStyle>* {
    padding: 5px;
   
}

i {
    height:3rem;
    width:3rem;
    text-align: center;
    background-color: #c4c4c4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: row;
    font-size: 24px;
    transition:all 0.5s ease
}

.iconCon{
    width:100%;
    position: relative;
    display: flex;
    height: 20%;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
}

i:hover {
cursor: pointer;
}

.fa-pen {
    color: #ff7b2f;
}

.fa-pen:hover {
    color: #913500;
}

.fa-trash:hover {
    color: #00057D;
}

.fa-trash {
    color: #292fee;
}

h3 {
    color:#908E8E;
    font-family: 'Inter', sans-serif;
    font-weight: 300;

}

h2,h1{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.info{
    width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}
a {
    text-decoration: none;
}