<div class="main">
    <app-side-nav></app-side-nav>
    <div class="content">
        <h1>List of Addresses</h1>
        <div class="box">
            <!-- Div (line7) is the TO BE THE LISTING repeat can remove class name after API implmenetation -->
            <div class="Listing Div IMPORTANT">
                <div class="boxStyle">
                    <h2>Address 1</h2>
                    <div class="info">
                        <h3> 8 Clarendon Avenue</h3>
                        <h3> Independent City</h3>
                        <h3> St Catherine</h3>
                    </div>
                    <div class="iconCon">
                        <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i>
                    </div>
                    
                </div>
            </div>
            <!-- SECOND -->
            <div class="Listing Div IMPORTANT">
                <div class="boxStyle">
                    <h2>Address 1</h2>
                    <div class="info">
                        <h3> 8 Clarendon Avenue</h3>
                        <h3> Independent City</h3>
                        <h3> St Catherine</h3>
                    </div>
                    <div class="iconCon">
                        <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i>
                    </div>
                    
                </div>
            </div>
            <!-- THIRD -->
            <div class="Listing Div IMPORTANT">
                <div class="boxStyle">
                    <h2>Address 1</h2>
                    <div class="info">
                        <h3> 8 Clarendon Avenue</h3>
                        <h3> Independent City</h3>
                        <h3> St Catherine</h3>
                    </div>
                    <div class="iconCon">
                        <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i>
                    </div>
                    
                </div>
            </div>
            <!-- FOURTH -->
            <div class="Listing Div IMPORTANT">
                <div class="boxStyle">
                    <h2>Address 1</h2>
                    <div class="info">
                        <h3> 8 Clarendon Avenue</h3>
                        <h3> Independent City</h3>
                        <h3> St Catherine</h3>
                    </div>
                    <div class="iconCon">
                        <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i>
                    </div>
                    
                </div>
            </div>
   

        </div>
    </div>

</div>
