
<div class="full">
    <div>
        <img src="../../../assets/FrontEnd Pictures/amberlogo.png" alt="Logo" class="logo">
    </div>
    
    <div>
        <h1 class="header"> <i> LOGIN </i></h1>
        <form class="loginForm">
            
            <div class="form_div">
                <!-- Labels to be editted  -->
                <div>
                    <!-- <label class="label" for="email">Email</label> -->
                    <input type="email" id="email" placeholder="Enter email here">
                </div>
                <div>
                    <!-- <label class="label" for="password">Password</label> -->
                    <input type="password" id="password" placeholder="Enter password here">
                </div>
                <div>
                    <button type="submit" class="btn" >Submit</button>
                </div>
                <div>
                    <p class="newuser"> Don't have an account? <a href="google.com">register here.</a></p>
                </div>
            </div>
        </form>
        
    </div>
    </div>
    <!-- <svg class="triangleright">
    
    </svg>
    
    
    <svg class="triangleleft">
    
    </svg>
    
    
    </div> -->
