.container{
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
}

.profile{
    padding: 2rem;
    row-gap: 1.3rem;
    width:78%;
    margin-left: 22%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.profile h2, .profile h1{
    font-weight: 300;
}

.profile input{
    padding: 20px;
    background-color: rgb(235, 235, 235);
    border: none;
    height:2.5rem;
    width:50%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px -3px rgba(0,0,0,0.75);
    outline: none;
    font-size: 18px;
    padding:20px;
}

.profile .name{
    width:100%;
    position:relative;
    display: flex;
    column-gap: 6rem;
}

.profile .name input{
    width:35%
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img{
    height: 300px;
    width:250px
}

.preview{
    padding: 3rem;
    width:80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width:10rem;
    height:10rem;
    position:relative;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content img{
    object-fit:contain;

}