<div class="container">
    <app-side-nav></app-side-nav>
    <div class="profile">
        <h1>Profile Settings</h1>
        <h2>Name</h2>
        <div class="name">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
        </div>
        <h2>Email Address</h2>
        <input type="text" placeholder="Email Address">
        <h2>Phone Number</h2>
        <div class="name">
            <input type="number" placeholder="Cell Number">
            <input type="number" placeholder="Home Number">
        </div>
        <div class="preview">
            <div class="wrapper">
                <div class="wImage">
                    <div class="backG">
                        <!-- <img src="../assets/FrontEnd Pictures/pexels-the-earthy-jay-15409085.jpg" alt=""> -->
                    </div>
                </div>
                <div class="content">
                    <img src="../assets/FrontEnd Pictures/pexels-the-earthy-jay-15409085.jpg" alt="">
                </div>
            </div>
            <div class="inputCon">
                <input type="file" name="" class="defaultBtn" accept="image/*" >
                <button class="customBtn">Choose a File</button>    
            </div>
        </div>
    </div>
</div>
