<div class="container">
    <app-side-nav></app-side-nav>
    <!-- *ngIf="updateUser"  -->
    <form class="profile" [formGroup]="updateUser">
        <h1>Profile Settings</h1>
        <h2>Name</h2>
        <div class="name">
            <input type="text" placeholder="First Name" formControlName="first_name" required>
            <input type="text" placeholder="Last Name" formControlName="last_name" required>
        </div>
        <h2>Email Address</h2>
        <input type="text" placeholder="Email Address" formControlName="email" required>
        <h2>Phone Number</h2>
        <div class="name">
            <input type="number" placeholder="Cell Number" formControlName="mobile_number" required>
            <input type="number" placeholder="Home Number" formControlName="home_number">
        </div>
        <div class="upload">
            <div class="imageCon">
                <img [src]="userImage" alt="">
            </div>
            <div class="inputCon">
                <input type="file" name="" id="upload" accept="image/*" hidden (change)="onselectFile($event)">
                <label for="upload">Choose a Picture</label>
            </div>
        </div>
        <div class="buttonCon">
            <button type="submit" (click)="updateUserDetails()"> Add</button>
        </div>
    </form>
</div>
